<div style="background-color:red; height: 100px;">
    แจ้งเบาะแส
</div>
<div style="background-color:yellow; height: 100px;">
    ข้อมูลผู้ถูกกล่าวหา
</div>
<div style="background-color:blue; height: 100px;">
    ร้องเรียน
</div>
<div>
    @Html.ActionLink("ส่งเรื่องร้องเรียน", "Ticket")
</div>
